.pagination {
  &__container {
    display: flex;
    gap: 1px;
  }

  &__button {
    height: max-content;
    text-align: center;
    border-color: rgba(206,206,206,1) !important;
    min-width: 60px;

    &:hover {
      background-color: rgba(206,206,206,0.2);
    }

    &_active {
      background-color: #1E856D !important;
      color: white !important;
    }
  }

  &__button_arrow {
    background-color: transparent !important;

    span {
      position: relative;
      bottom: 0.1rem;
    }
  }
}