.link {
  &-container {
    width: 100%;
  }

  &-wrapper {
    //must be as in the .step-circle
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    //for rectangle proportions
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &-strip {
    background-color: var(--link);
    opacity: 0.2;
    border-radius: 3px;
    height: 1.5px;
    width: 280%;
    transition: opacity 400ms;
    position: absolute;

    &.--before-selected {
      opacity: 1;
    }
  }
}

