.link {
  &-container {
    //must be as in the .step-circle
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &-strip {
    background-color: var(--link);
    opacity: 0.2;
    border-radius: 3px;
    height: 1.5px;
    width: 280%;
    transition: opacity 400ms;
    position: absolute;
  }
}

.--before-selected {
  .link-strip {
    opacity: 1;
  }
}

.--vertical {
  .link-container {
    height: 100%;

    &::after {
      padding-bottom: 0;
    }
  }

  .link-strip {
    height: 100%;
    width: 1.5px;
  }
}

