.ui-kit__calendar-container{
  width: 16rem;

  .calendar-header{

    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;


    .calendar-header-label{
      margin: auto 0.5rem;
      cursor: default;
      font: 1rem Arial;
    }

    .calendar-arrow{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      margin: 0 auto 0 0;

      &.next{
        margin: 0 0 auto auto;
      }
    }

    .calendar-arrow:hover{
      background: #ededed;
      color:  rgb(30, 133, 109);
    }

  }

  .week-days-container{
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-gap: 0.25rem;
    margin: 0.25rem 0;
    justify-content: center;
  }

  .calendar-view{
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-template-rows: repeat(5, max-content);
    grid-gap: 0.25rem;
    justify-content: center;
  }

  .calendar-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    font-family: Arial;

    &.day-element{
      cursor: pointer;
    }

    &.day-element:hover{
      background: #ededed;
      color:  rgb(30, 133, 109);

      &.selected{
        background: rgb(30, 133, 109);
        color: white;
      }
    }

    &.active{
      &.selected{
        background: rgb(30, 133, 109);
        color: white;
      }
    }

    &.notActive{
      color: #a5a5a5;
      //&.selected{
      //  font-weight: bold;
      //}
    }

    &.week-day{
      color: #888888;
      cursor: default;
    }

    &.now-date{
      font-weight: bold;
    }


  }

}