.label-value-container{
  label{
    font-family: Arial;
  }

  .label-value-content {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1em;
    white-space: nowrap;
  }
}