.swf-alert-container {

  &.yellow {
    --alert-background-color: #fffbc9;
    --alert-border-color: #fcd200;
  }

  &.red {
    --alert-background-color: #fcdddc;
    --alert-border-color: #f44336;
  }

  &.green {
    --alert-background-color: #e0ffe2;
    --alert-border-color: #4CAF50;
  }

  &.blue {
    --alert-background-color: #dceefc;
    --alert-border-color: #2196F3;
  }

  &.grey-blue {
    //grey-blue #607D8B 96, 125, 139
    --alert-background-color: #d3e1e8;
    --alert-border-color: #607D8B;
  }

  &.grey {
    //grey #9E9E9E 158, 158, 158
    --alert-background-color: #e8e8e8;
    --alert-border-color: #9E9E9E;
  }


  background: var(--alert-background-color);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid var(--alert-border-color);
  border-radius: 1rem;
  display: grid;
  grid-gap: 0.5rem;
  //height: 4rem;
  text-align: left;

  overflow: hidden;
  margin: 0.5rem;
  padding: 0.5rem;

  max-width: 100%;
  grid-template-columns: 24px 1fr max-content;

  --taransformX: 0;
  --taransformY: 0;

  &.--fixed {
    position: fixed;
    z-index: 100;
    animation-duration: 1s;
    animation-name: slidein;
    --start-animation: 0;
    --end-animation: 0;


    &.--vertical-top {
      top: 1rem;

      --start-taransformY: -50%;
      --end-taransformY: 0;
    }

    &.--vertical-center {
      top: 50%;
      --start-taransformY: -100%;
      --end-taransformY: -50%;
    }

    &.--vertical-bottom {
      bottom: 1rem;
      --start-taransformY: 50%;
      --end-taransformY: 0%;
    }

    &.--horizontal-start {
      left: 1rem;
    }

    &.--horizontal-center {
      left: 50%;
      --taransformX: -50%;
    }

    &.--horizontal-end {
      right: 1rem;
    }

    @keyframes slidein {
      from {
        transform: translateX(var(--taransformX)) translateY(var(--start-taransformY));
      }
      to {
        transform: translateX(var(--taransformX)) translateY(var(--end-taransformY));
      }
    }
    transform: translateX(var(--taransformX)) translateY(var(--end-taransformY));

  }

  &.--no-icon {
    grid-template-columns: 1fr max-content;
  }

  &.--alignCenter {

    .alert-icon {
      margin: auto;
    }

    .alert-button {
      margin: auto;
    }
  }

  &.--overflowed {
    //height: 5.5rem;
  }

  &.--oneLineContent {
    height: 3rem;

    .alert-content {
      transform: translateY(0.25rem);
    }
  }

  &.--expanded {
    height: auto;
  }

  .alert-icon {
    color: var(--alert-border-color);
  }

  .alert-button {
    background: rgba(255, 255, 255, 0.5);
    --hover-base-color: rgba(255, 255, 255, 0.7);
    border-color: var(--alert-border-color);
    //color: var(--alert-border-color);
    --border-width: 0px;

    &.dismiss {
      color: var(--alert-border-color);
      background: transparent;
      height: 2rem;
      width: 2rem;
    }

  }

  .alert-button:hover {
    color: var(--alert-border-color);

    &.dismiss:hover {
      color: var(--alert-border-color);
      background: rgba(255, 255, 255, 0.4);
    }
  }

  .alert-content {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.5;

    &.text-align-center {
      text-align: center;
    }

    .show-more-button {
      float: left;
      --text-color: rgb(30, 133, 109);
      --hover-text-color: rgb(15, 67, 55);
      text-decoration: underline;
      padding: 0;
      height: 1.5rem;
      text-align: start;
      width: fit-content;
    }

    .alert-header {
      font-weight: bold;
    }

    .text-container {
      max-height: 3rem;
      overflow: hidden;

      &.--setToOneLine {
        max-height: 1.5rem;
      }

      &.--expanded {
        max-height: fit-content;
        height: fit-content;
      }


      .alert-text {
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }

    }


  }


}
