.swf-lookup-table {
  width: 100%;
  .result {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin:  0;
    font-size: 1rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #fff;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .00938em;
    z-index: 99;
    padding: 0;
    margin: 1rem;
  }

  .message {
    padding: 1rem;
  }

  .result--item {
    padding: 0.375rem;
    cursor: pointer;
    list-style: none;
  }

  .result--item:hover {
    background: rgba(0, 123, 255, .2);
  }

  .main {
    margin: 0;
    font-size: 1rem;
  }

  .additional {
    font-size: .8rem;
    margin-left: .2rem;
  }

  .action {
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
  }

  .action:hover {
    border-radius: 50%;
    background-color: rgba(0, 123, 255, .2);
  }

  .visible {
    visibility: visible;
  }

  .list-field-group {
    border: 1px solid #becad6;
    border-radius: 0.375rem;

    .form-control--start,
    .form-control--end,
    .form-control {
      border: none;
    }

    .form-control--start {
      flex-wrap: wrap;
      overflow: auto;
      max-height: 10rem;
    }

    .form-control--start > * {
      margin: 3px;
    }

    .swf-preloader .mock-container {
      padding: 0;
      margin: 0;
    }
  }
}

