@import "InnerComponents/File/file";
@import "InnerComponents/Loader/loader";

.swf-attach-input {
  position: relative;
  cursor: pointer;

  .inp-label {
    color: #5a6169;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    padding: 4px;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    transform: translate(14px, -14px);

    &.--focused {
      color: #007bff;
    }

    &.--invalid {
      color: red;
    }

    label{
      padding-right: 3px;
    }

    .inp-required{
      transform: translateY(-50%);

    }
  }

  .attach-container{
    display: block;
    min-height: 2rem;
    min-width: 1rem;
    height: auto;
    padding: 0.5rem 0.25rem;
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
    color: #495057;
    background-color: #fff;
    border: 1px solid #becad6;
    font-weight: 300;
    will-change: border-color, box-shadow;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 0.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 0.06);
    text-align: center;
    cursor: pointer;

    .--invalid {
      border-color: red;
      box-shadow: 0 0.313rem 0.719rem rgba(255, 123, 0, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
    }

    &.--readonly{
      border-color: #a5a5a5;
      color: #a5a5a5;
      cursor: default;
    }

    &.--disabled{
      opacity: 0.7;
    }
  }

  .attach-container {
    &.--focus {
      outline: none;
      color: #495057;
      background-color: #fff;
      border-color: #007bff;
      box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
    }

    &.--invalid {
      border-color: red;
      box-shadow: 0 0.313rem 0.719rem rgba(255, 123, 0, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
    }

    &.--readonly{
      border-color: #a5a5a5;
      color: #a5a5a5;
      box-shadow: none;
      cursor: default;
    }

    &.--disabled{
      border-color: #a5a5a5;
      color: #a5a5a5;
      cursor: not-allowed;
    }
  }

  .attach-container:hover {
    outline: none;
    border-color: #8fa4b8;

    &.--invalid {
      border-color: red;
      box-shadow: 0 0.313rem 0.719rem rgba(255, 123, 0, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
    }
    &.--readonly{
      border-color: #a5a5a5;
      color: #a5a5a5;
      cursor: default;
    }
  }

  .attach-placeholder{
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #5a6169;
    justify-content: center;
    white-space: nowrap;
  }

  .file-button{
    display: block;
    background: transparent;
    border: none;
    width: 100%;

    &.negative{
      color: red;
    }

    &.positive{
      color: green;
    }
  }

  .file-button:hover{

    &.negative{
      color: red;
    }

    &.positive{
      color: green;
    }
  }

}



