.swf-badge-root {
  display: inline-flex;
  align-items: center;

  .swf-button {
    padding: 0;
  }

  .swf-badge {
    --badge-background-color: #4caf50;
    --badge-color: #fff;
    height: 20px;
    display: flex;
    z-index: 1;
    flex-flow: row wrap;
    font-size: 0.75rem;
    min-width: 20px;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1;
    place-content: center;
    border-radius: 10px;
    background-color: var(--badge-background-color);
    color: var(--badge-color);

    &.yellow{
      --badge-background-color: #fcd200;
      --badge-color: #000;
    }

    &.red{
      --badge-background-color: #f44336;
      --badge-color: #fff;
    }

    &.green{
      --badge-background-color: #4CAF50;
      --badge-color: #fff;
    }

    &.blue{
      --badge-background-color: #2196F3;
      --badge-color: #fff;
    }

    &.grey-blue{
      --badge-background-color: #607D8B;
      --badge-color: #fff;
    }

    &.grey{
      --badge-background-color:  #9E9E9E;
      --badge-color: #fff;
    }
  }
}